button, input {
	width: 100%;
	font-weight: 700;
	font-size: 3.5vw;
}

.roomID {
	font-size: 10vw;
	color: #0050d3;
}

#playerCount {
	font-size: 5vw;
	margin-top: -20px;
}

#transitionScreen div div p, #gameOverScreen div div p {
	font-size: 11vw;
	max-width: 80vw;
	max-height: 80vh;
	margin: 0 auto;
}

#playScreen h1 {
	font-size: 1.6em;
	margin-top: 1.4vh;
}

#masterHealth, #playerHealth {
	margin: 2vh auto;
}

.boardElement {
	height: 35vh;
	padding: 5px 5px 5px 5px;
}

/*.boardElement div {
	position: absolute;
	visibility: hidden;
	white-space: nowrap;
}*/

.boardElement div p:nth-of-type(1) {
	white-space: nowrap;
	font-size: 1.8vw;
}

.toggleSwitchImg {
	width: 90%;
	max-width: 45vh;
	height: auto;
	max-height: 45vh;
	margin: 0 auto;
	margin-top: 5px;
}

.buttonImg {
	width: 90%;
	max-width: 22vh;
	height: 90%;
	max-height: 22vh;
	margin: 0 auto;
}




