html { /*Removes the touch delay on windows phones */
-ms-touch-action: manipulation;
touch-action: manipulation;
}

body {
	width: 100%;
	height: 100%;
	text-align: center;
	font-family: orbitron;
	font-weight: 700;
	font-size: 3.5vh;
	color: #d5d5d5;
	background-color: gray;
	padding: 0;
}

.row {
	width: 100vw;
	margin: 5px 0px;
}

#startScreen{
	/*Vertical center*/
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

input::placeholder {
	color: #d1d1d1;
}


#waitingScreen {
	width: 100vw;
	max-width: 100vw;
}

#waitingScreen button, #gameOverScreen button {
	margin: 10px 0;
}

#langSelect {
	border-style: solid;
	border-color: black;
	border-width: 0px 1px 1px 0px;
}

#playScreen {
	height: 100vh;
	width: 100vw;
}

#playScreen .row {
	margin: 0;
}

#masterHealth, #playerHealth {
	width: 100%;
	height: 6vh;
	padding: 5px 5px;
	background-color: #222222;
}

#masterHealth div, #playerHealth div {
	width: 100%;
	height: 100%;
	background-color: #666666;
}

#masterHealth p, #playerHealth p {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 25%;
}

#totalCompleted {
	color: #236421;
}

#totalFailed {
	color: #b21b17;
}

#taskMSG {
	color: #222222;
	height: 6vh;
}

.boardElement {
	background-color: #222222;
	border: 1px solid #666666;
}

.toggleSwitchImg:hover, .buttonImg:hover{
	cursor: pointer;
	opacity: 0.5;
}

input[type=range] {
	width: 85%;
	height: 5vh;
	margin: 0 auto;
	-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
	background: transparent; /* Otherwise white in chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #d5d5d5;
  height: 5vh;
  width: 20px;
  border-radius: 3px;
  background: #666666;
  cursor: pointer;
  margin-top: -2vh; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #d5d5d5
  height: 5vh;
  width: 20px;
  border-radius: 3px;
  background: #666666;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #d5d5d5;
  height: 5vh;
  width: 20px;
  border-radius: 3px;
  background: #666666;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 4vh;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

.markers {
	width: 100%;
	table-layout: fixed;
}

#gameOverScreen .row div:nth-of-type(2) p {
	margin-top: -30px;
	font-size: 6vw;
}

